.bg{
background-image: url(../images/Screenshot_1.png);
width: 100%;
height: 400px;
background-size: cover;
position: relative;
}



.bg::before{
content: "";
position: absolute;
top: 0;
width: 100%;
height:100%;
background: rgba(165, 184, 199, 0.5);
}